
<mat-drawer-container class="example-container">

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <img mat-card-image src="https://i.ibb.co/89bXBfx/diseno-avatar-persona-24877-38130.webp"
      style="width: 300px; height: 300px;">
    
    
  

     <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/terror"> Terror </mat-list-option>
      <mat-list-option routerLink="/ficcion" > Ficción </mat-list-option>
      <mat-list-option routerLink="/comedia"> Comedia</mat-list-option>
    </mat-selection-list>




  </mat-drawer>

  <mat-drawer-content>


    <mat-toolbar style="background-color: black;">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon style="color: white;">menu </mat-icon>
      </button>
      <span><img src="https://i.ibb.co/VqnNRPd/Logo-Netflix.png" alt="Logo-Netflix" border="0" style="width: 110px;"></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon search-icon" style="color: white;">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" style="color: white;">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </mat-toolbar>
    


    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>


