
<div style="background-color: black;">
  <br>
  <h2 style="color: white;">Más vistas</h2>

  <mat-nav-list class="list-horizontal" >
    
    <mat-list-item *ngFor="let movieP of moviesPopular" >
   
      <img mat-card-image (click)="openDialog(movieP)" src= "https://image.tmdb.org/t/p/original/{{movieP.backdrop_path}}" style="width: 200px; height: 150px;">
    </mat-list-item>
    
  </mat-nav-list>

  
  <br>
  <h2 style="color: white;">{{name}}</h2>

  <mat-nav-list class="list-horizontal" >
    
    <mat-list-item *ngFor="let movie of movies" >
      <img mat-card-image (click)="openDialog(movie)" src= "https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" style="width: 200px; height: 150px;">
    </mat-list-item>
    
  </mat-nav-list>

  
  <br>
  <h2 style="color: white;">{{name1}}</h2>

  <mat-nav-list class="list-horizontal" >
    
    <mat-list-item *ngFor="let movie of movies1" >
      <img mat-card-image (click)="openDialog(movie)" src= "https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" style="width: 200px; height: 150px;">
    </mat-list-item>
    
  </mat-nav-list>

</div>



<!--
<mat-grid-list cols="10" rowHeight="4:1" >
  <mat-grid-tile *ngFor="let movie of movies">
    <img mat-card-image (click)="openDialog(movie)" src= "https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" style="width: 200px; height: 150px;">
  </mat-grid-tile>
</mat-grid-list>
-->